$primary-color: #f1f8fc;

nav{
    background-color: $primary-color;
    .logo-tta{
        width: 100px;
        height: auto;
    }
    .nav-link{
        color: #0074c7;
    }
    .nav-link.active{
        color:#384050 ;
    }
    .navbar-toggler{
        color: #0074c7;
    }
    font: {
        family: 'Graphik', serif;
        size: 1rem;
        weight: normal;
    }
}
