$primary-color: #f1f8fc;

nav{
    background-color: $primary-color;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.3);

    .nav-link{
        color: #0074c7;
    }
    .nav-link.active{
        color:#384050 ;
    }
    .navbar-toggler{
        color: #0074c7;
    }
    font: {
        family: 'Graphik', serif;
        size: 1rem;
        weight: normal;
    }
}

@media (min-width: 993px){
    .logo-tta{
        width: 180px;
        height: auto;
    }
}

@media (max-width: 992px){
    .logo-tta{
        width: 140px;
        height: auto;
    }
}

@media (max-width: 768px){
    .logo-tta{
        width: 120px;
        height: auto;
    }
}