$primary-color: #0074c7;

footer{
    background-color: $primary-color;
    font: {
        family: 'Graphik', sans-serif;
        size: 1rem;
        weight: normal;
    }
    .footer-link{
        color: #fff;
        text-decoration: none;
    }
    .footer-link.active{
        color: #384050;
    }
    .footer-link:hover{
        color: #384050;
    }
    address{
        color: #fff;
    }
}